* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #404d6c;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.todo-list-container {
  min-height: 200px;
  background-color: rgb(235, 235, 235);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.1rem;
  padding: 2rem;
}
